<div class="newPostTitle">
  {{input type=text placeholder=title value=title}}
</div>
<div class="newPostBody">
  {{textarea placeholder=body value=body}}
</div>
<div class="buttonContain">
  <a href="#" class= "btn checked" {{action 'editPost' }}>
    <span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
    </span>
  </a>
</div>
