<div class="newPostTitle">
  {{input type=text placeholder="Enter a Title" value=postTitle}}
</div>
<div class="newPostBody">
  {{textarea placeholder="Put your body here!" value=postBody}}
</div>

<div class="buttonContain">
  <a href="#" class= "btn checked" {{action 'makeNewPost'}}>
    <span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
    </span>
  </a>
</div>
